/* ============================ FONTS ======================================= */
/* ---------------------- Material Design Icons ----------------------------- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* ----------------------- Source Sans Pro ---------------------------------- */
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on January 12, 2019 */

@font-face {
    font-family: 'source_sans_proregular';
    src: url('font/sourcesanspro-regular-webfont.eot');
    src: url('font/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('font/sourcesanspro-regular-webfont.woff') format('woff'),
         url('font/sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'source_sans_proitalic';
    src: url('font/sourcesanspro-it-webfont.eot');
    src: url('font/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('font/sourcesanspro-it-webfont.woff') format('woff'),
         url('font/sourcesanspro-it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'source_sans_probold';
    src: url('font/sourcesanspro-bold-webfont.eot');
    src: url('font/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('font/sourcesanspro-bold-webfont.woff') format('woff'),
         url('font/sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------- Fontawesome brands ------------------------------- */
/*! * Font Awesome Free 5.1.1 by @fontawesome - https://fontawesome.com * 
      License - https://fontawesome.com/license 
      (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) */

@font-face {
  font-family: "Font Awesome 5 Brands";
  src: url('font/fa-brands-400.eot');
  src: url('font/fa-brands-400.eot?#iefix') format("embedded-opentype"),
       url('font/fa-brands-400.woff2') format("woff2"),
       url('font/fa-brands-400.woff') format("woff"),
       url('font/fa-brands-400.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fa,.fab,.fal,.far,.fas{
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1
}
.fab {
  font-family:"Font Awesome 5 Brands"
}
.fa-facebook:before{
  content:"\f09a"
}
.fa-facebook-f:before{
  content:"\f39e"
}
.fa-twitter:before{
    content:"\f099"
}
.fa-twitter-square:before{
    content:"\f081"
}

/* ============================= THEMEING =================================== */
/* https://coolors.co/0055a4-ef4135-ffffff-f5e3e0-e8b4bc */
/* 2C4251, ffe39f */
.vote-body {
  height: 100%;
  background-color: #ffffff;
}
.vote-header {
  background-color: rgb(238,293,246);
}
.vote-page-content {
  background-color: #ffffff;
}
/* ============================= HEADER ====================================== */
.vote-home-button {
  margin-right: 1em;
  color: #2C4251;
}
.vote-home-icon {
  height: 32px;
  width: auto;
}
.vote-home-button-text,
.vote-site-header {
  color: #2C4251;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}
.vote-home-button-text {
  font-family: source_sans_probold;
}
.vote-site-header {
  font-family: source_sans_proregular;
}
.vote-header-button {
  color: #2C4251;
}
.vote-language-menu .mdl-button {
  font-family: source_sans_proregular;
  text-decoration: none;
  text-transform: none;
  font-size: 1.25em;
  margin-left: .5em;
}    
@media only screen and (max-width: 32em) {
  .vote-site-header {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 48em) {
  .mdl-layout__header-row {
    padding: 0 1em 0 1em;
  }
}
/* ============================= BACKGROUND ================================= */
.vote-timer-small {
  display: none;
}
.vote-background {
  background-image: url("img/john-towner-125993-unsplash-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
.vote-background .vote-logo {
  margin: 5em auto 5em;
  border-radius: 10em;
  border: .5em solid rgba(238,293,246);
  display: inline-block;
  padding: 1em;
  background: rgba(255,255,255,.5);
}
.vote-content-timer-wrapper {
  font-family: source_sans_proregular, arial, sans-serif;
  color: #2C4251;
  background: rgba(238,293,246,.8);
}
.vote-content-timer-title {
  font-family: source_sans_probold, arial, sans-serif;
}
.vote-content-header,
.vote-content-subheader {
  color: #2C4251;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  display: inline;
}
.vote-content-header {
  font-family: source_sans_probold, arial, sans-serif;  
}
.vote-content-subheader {
  font-family: source_sans_proregular, arial, sans-serif;
}
.vote-content-intro-wrapper {
  width: 100%;
  background-color: rgb(238,293,246);
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: max-height,box-shadow;
}
.vote-content-intro {
  max-width: 60%;
  margin: 2em auto 1em;
}
.vote-content-timer-wrapper {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: .5em 0;
}
@media only screen and (max-width: 48em) {
  .vote-content-timer-title {
    display: block;
    padding-bottom: .25em;
  }
  .vote-content-intro {
    max-width: none;
    margin: 0 1em;
    font-size: 1.25em;
  }
  .vote-background {
    background-image: url("img/john-towner-125993-unsplash-640-min.png");
    background-size: contain;
  }
  .vote-timer-large {
    display: none;
  }
  .vote-timer-small {
    display: inline;
  }
  .vote-content-timer-wrapper {
    margin: 1em 5%;
  }
  .vote-background .vote-logo {
    max-width: 15em;
  }
}
@media only screen and (max-width: 32em) {
  .vote-site-header-appendix {
    display: none;
  }
  .vote-background .vote-logo {
    max-width: 10em;
  } 
  .vote-content-timer-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .vote-content-header,
  .vote-content-subheader {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 24em) {
  .vote-content-timer {
    display: block;
  }
}
.vote-footer {
  padding: 1em 0;
  background-color: #2C4251;;
}
.vote-credits {
  font-family: source_sans_proregular, arial, sans-serif;
  font-size: .9em;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: rgb(255,255,255);
}
.vote-credits-link {
  color: rgb(255,255,255);
}
.vote-alarm {
  display: inline-block;
}
.vote-alarm .vote-submit-button {
  background: 0 none;
  border: 0 none;
  cursor: pointer;
}
/* =============================== FORMS ==================================== */
.vote-content-section {
  text-align: center;
  column-count: 2;
  width: 65%;
  margin: 0 auto;
}
.vote-card {
  display: inline-block;
  margin: 2em 2em 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
@media only screen and (max-width: 48em) {
  .vote-content-section {
    width: 100%;
    column-count: auto;
  }
  .vote-card {
    width: 90%;
  }
}
@media only screen and (max-width: 32em) {
  .vote-card {
    margin: 0;
    width: 100%;
  }
}
.vote-override-input::-webkit-datetime-edit-year-field,
.vote-override-input::-webkit-datetime-edit-month-field,
.vote-override-input::-webkit-datetime-edit-day-field,
.vote-override-input::-webkit-datetime-edit-date, 
.vote-override-input::-webkit-datetime-edit{
    color: transparent;
}
.vote-card .mdl-card__title-text,
.vote-card .mdl-button {
  font-family: source_sans_probold, arial, sans-serif;
  color: #2C4251;
  text-align: center;
}
.vote-card .vote-card-link {
  color: #2C4251;
  font-size: 1.25em;
}
.vote-card .mdl-card__supporting-text {
  font-family: source_sans_proregular, arial, sans-serif;
}
.vote-card .mdl-card__supporting-text .vote-card-text {
  font-size: 1.25em;
}
.vote-card-text-last {
  padding-bottom: 0;
  margin-bottom: 0;
}
.vote-submit-option {
  float: right;
  margin-top: -2.55em;
  position: relative;
  left: .25em;
}
.vote-submit {
  display: inline-block;
}
.vote-card .vote-deadline {
  font-family: source_sans_probold, arial, sans-serif;
  color: #2C4251; 
}
.mdl-textfield.is-focused .mdl-textfield__label {
  color: #2C4251;
}
.mdl-textfield__label:after{
  background-color: #2C4251;
}
.vote-checkbox-wrapper {
  margin: 0 0 1em 0;
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 2px solid #2C4251;
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
  background-color: #2C4251;
}
.mdl-checkbox__ripple-container .mdl-ripple {
  background: #2C4251;
}
.vote-override-label,
.mdl-textfield.is-focused .vote-override-label {
  color: rgba(255,255,255,0);
}
.vote-numbered-list {
  padding-left: 1em;
}
.vote-share-button {
  color: #2C4251;
  font-size: 1.5em;
}
.vote-card-text.vote-share-align {
  padding-top: 1em;
}
.vote-share-align {
  display: inline-block;
  vertical-align: middle;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons.vote-list-icon {
  font-size: 32px;
  text-align: center;
  padding-top: 4px;
}
.vote-clear-form {
  float: right;
  text-align: right;
  padding: 1.25em 0;
  vertical-align: middle;
}
.vote-mairie-form {
  display: inline-block;
  vertical-align: middle;
}
/* ======================== SEARCH ========================================== */
.vote-result-details-submit {
  background: 0 none;
  border: 0 none;
  cursor: pointer;
}
/* ======================== DIALOG ========================================== */
.vote-dialog {
  font-family: source_sans_proregular, arial, sans-serif;
  display: block;
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 1px;
  height: 1px;
  z-index: 2;
  background-color: #612095;
  border-radius: 2em;
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -moz-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -ms-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  -o-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}
.vote-dialog .vote-dialog-content,
.vote-dialog .vote-dialog-actions {
  display: none;
}
.vote-dialog-active .vote-dialog-content,
.vote-dialog-active .vote-dialog-actions {
  display: block;
}
.vote-dialog-active .vote-dialog-actions {
  text-align: right;
}
.vote-dialog-active {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2);
  width: 50%;
  top: 15%;
  height: auto;
  min-height: 20em;
  background-color: #fff;
  border-radius: 1em;
  /*overflow: scroll;
  -webkit-overflow-scrolling: touch;
  */
}
.vote-dialog-active ~ .mdl-layout__container .vote-page-content {
  overflow: hidden;
}
.vote-dialog-active {
  min-height: auto;
  /*min-height: calc(100% + 100px);*/
  min-height: 50%;
}
@media only screen and (max-width: 48em) {
  .vote-dialog-active {
    width: 80%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } 
}
@media only screen and (max-width: 32em) {
  .vote-dialog-active {
    width: auto;
    margin: 0 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.vote-dialog-content {
  padding: 0;
}
.vote-dialog-content .vote-dialog-close-top {
  display: block;
  text-align: right;
  width: 96%;
}
.vote-card-dialog {
  width: 100%;
}
.vote-card-dialog .vote-card-title {
  color: #2C4251;
  font-family: source_sans_probold, arial, sans-serif;
}
.vote-card-dialog .vote-card-text,
.vote-card-dialog .vote-card-mini-text {
  font-family: source_sans_proregular, arial, sans-serif;
}
.vote-card-dialog .vote-card-mini-text {
  font-size: .7em;
  display: block;
}
.vote-card-list {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
.vote-card-list .mdl-list__item--two-line {
  height: 84px;
}
.vote-card-list .mdl-list__item-avatar, .mdl-list__item-avatar.material-icons.vote-list-icon {
  margin-bottom: 2em;
}
/* ========================== TRANSLATION =================================== */
/* https://www.flag-sprites.com/ select flags, check network tab for image */
.vote-select-language .mdl-menu__container {
  background: #fff;
}
.vote-lang {
  background: url(img/flags.min.png) no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: .5em;
  left: .25em;
  display: block;
}

.vote-lang_en {
  background-position: -32px -64px;
}
.vote-lang_pl {
  background-position: -160px -128px;
}
.vote-lang_de {
  background-position: -64px -32px;
}
.vote-lang_fr {
  background-position: 0 -64px;
}
.vote-lang_it {
  background-position: 0 -96px;
}
.vote-lang_es {
  background-position: -160px -32px
}
.vote-lang_dk {
  background-position: -96px -32px;
}